body {
    background-color: whitesmoke;
}

#drawing-area {
    background-color: white;
    margin: 10px;
    -webkit-box-shadow: 6px 8px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 8px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 8px 15px 0px rgba(0,0,0,0.75);
}

#main-table {
    margin: auto;
}

table {
border-collapse: collapse;
}

td {
    text-align: center;
}

.title {
    padding: 10px 0 10px 0;
    text-align: center;
    color: whitesmoke;
    background-color: saddlebrown;
}

#info {
    height: 400px;
}